.container {
  background-color: #dbd5ed;
  width: auto;
  height: auto;
}

.avgwrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: rgb(8, 7, 8);
  margin: 0px;
  padding-top: 15px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.formarea {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbc8d5;
  border-radius: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 3px solid #9896f0;
  box-shadow: 4px 3px 6px 2px #9896f0;
}

.detailsarea {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.detailsarea input {
  align-items: flex-start;
  width: 300px;
  background: transparent;
  color: black;
  border-radius: 10px;
  border: 2px solid black;
  font-size: 20px;
  margin-bottom: 10px;
}
.detailsarea input,
label {
  color: black;
  line-height: 30px;
}

.description {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  border: 2px solid black;
  background: transparent;
  width: 300px;
  height: 50px;
}

ul {
  color: black;
  list-style-type: none;
}

.campos {
  display: flex;
  flex-direction: column;
}

.rating {
  width: 40px;
}

.bot {
  background-color: #fbc8d5;
  color: black;
  padding-top: 1px;
  cursor: pointer;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.bot:hover {
  background-color: #9896f0;
  color: whitesmoke;
}

.bot2 {
  background-color: #fbc8d5;
  color: black;
  margin-top: 60px;
  margin-bottom: 50px;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.bot2:hover {
  background-color: #9896f0;
  color: whitesmoke;
}

.submit {
  margin-top: 80px;
  margin-bottom: 20px;
  align-self: center;
  width: 15%;
  height: 50px;
  border-radius: 8px;
  background-color: #9896f0;
  color: whitesmoke;
  transition: 0.5s all;
  cursor: pointer;
}

.submit:hover {
  transform: scale(1.1);
  color: black;
}

.error {
  color: red;
}
