.container {
  background-color: #dbd5ed;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.c1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
}

.c2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border: 3px solid transparent;
  width: 1200px;
}

.c3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
}

.c4 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
}

.c5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 10px;
  list-style: none;
  text-decoration: none;
}

.hpbot {
  text-align: center;
  background-color: #fbc8d5;
  color: black;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border: 1px solid black;
  border-radius: 8px;
  transition-duration: 0.4s;
  text-decoration: none;
}
.hpbot:hover {
  background-color: #9896f0;
  color: whitesmoke;
}

.hpfilter {
  margin-top: 8px;
  color: black;
  border: 1.5px solid black;
  margin-right: 10px;
  width: 150px;
  height: 40px;
  background-color: #fbc8d5;
  cursor: pointer;
  transition-duration: 0.4s;
}

.hpfilter:hover {
  background-color: #9896f0;
  color: whitesmoke;
}

.c6 {
  display: grid;
  grid-template-columns: auto, auto, auto;
}

.card {
  text-decoration: none;
  transition: 0.5s all;
}

.card:hover {
  transform: scale(1.1);
}
