.sbcontainer {
  display: flex;
  flex-direction: row;
  padding-right: 55px;
}
.sbbot {
  background-color: #fbc8d5;
  color: black;
  padding-top: 1px;
  cursor: pointer;
  text-align: center;
  padding: 8px 24px;
  border-radius: 8px;
  transition-duration: 0.4s;
}
.sbbot:hover {
  background-color: #9896f0;
  color: whitesmoke;
}
.sbinput {
  background-color: #fbc8d5;
  margin-right: 10px;
  border: 2px solid black;
  width: 250px;
  border-radius: 10px;
}
