.wrapper {
  display: flex;
  margin: 0px;
  right: 20% auto;
}
.detimg {
  align-self: center;
  width: 80%;
  height: 50%;
  border-radius: 10px;
}
.contarea {
  display: flex;
  background-color: #fbc8d5;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0px;
  width: 100%;
}

h3 {
  color: black;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  padding: 1px;
  margin: 10px;
}

h5 {
  width: 80%;
  align-self: center;
}
p {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1px;
  margin-top: 15px;
}
.botback {
  padding: 1em;
  margin-top: 25px;
  background: #9896f0;
  color: whitesmoke;
  border: 1;
  height: 40px;
  border-color: black;
  padding: 10px 50px;
  border-radius: 35px;
  font-family: poppins;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.botback:hover {
  background-color: #dbd5ed;
  color: black;
}
